# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Temp
/.tmp

# Production
/build
/dist
/out
/storybook-static

# Misc
.DS_Store
.env*
!.env*.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*